.showcase-area{
    position: relative;
    height: 65vh;
    padding-top: 5rem;
    img{
        height: 100%;
    }
    
    button{
        position:absolute;
        top:50%;
        // z-index: 3;
        &.prev-btn{
            left:5%;
        }
        &.next-btn{
            right:5%;
        }
    }
    .product_photos{
        position: relative;
        flex:1;
        flex-grow: 1;
    }
    .product_details{
        position: relative;
        flex:3;
    }
}